.name-tag {
  font-family: "Archivo Black", sans-serif;
  font-weight: 1000;
  font-style: normal;
  color: var(--text-solid-yellow);
}
.hover-btn:hover {
  background-color: #1b74e4;
  color: aliceblue;
}

.hover-effect-card-insights:hover {
  transform: translateY(-10px);
  transition: all 0.4s ease;
  border: 2px solid #1b74e4 !important;
  box-shadow: 0 40px 80px -20px rgba(27, 117, 228, 0.341);
}

.section-1 {
  background-color: #1b75e412;
}
.section-1-p {
  font-size: 10px;
  letter-spacing: 1px;
}
.section-1-content i {
  font-size: 6px;
}
.core-feed-card {
  background: linear-gradient(135deg, #fa5252, #b91c1c);
}
.hover-effect-feed-card-3:hover {
  transform: translateY(-10px);
  transition: all 0.4s ease;
  border: 2px solid #1b74e4 !important;
  box-shadow: 0 40px 80px -20px rgba(27, 117, 228, 0.496);
}
.blog-img-main {
  height: 500px;
}
.blog-img {
  border-radius: 33px 0px 0px 33px;
  overflow: hidden;
}
.blog-div:hover .blog-img img {
  transform: scale(1.08);
}
.blog-img img {
  transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}
.circle-hover div {
  width: 50px;
  height: 50px;
  background-color: rgba(128, 128, 128, 0.086);
  position: absolute;
  top: 7%;
  left: 90%;
  transition: all ease 0.3s;
}
.blog-feed-card:hover .circle-hover div {
  background-color: #1b74e4;
}
.blog-feed-card:hover h3 {
  transform: translateX(10px);
  transition: all ease 0.3s;
}
.blog-div h6 {
  transition: all ease 0.3s;
}
.blog-div h6:hover {
  color: #1b74e4;
}
.blog-div:hover h6 {
  transform: translateX(5px);
}
.blog-text p {
  color: #ea580c;
  background-color: #ea5a0c2f;
  border-radius: 100px;
  font-size: 10px;
  font-weight: 800;
}
.blog-icon {
  margin-top: 120px;
}

.blog-icon span {
  font-size: 12px;
  font-weight: 700;
  color: gray;
}
.footer-p {
  border-radius: 100px;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 1.8px;
}
.footer-profile img {
  width: 30px;
  height: 30px;
}
.sec3-blog-div:hover h6 {
  transform: translateX(8px);
  transition: all ease 0.3s;
}
.sec3-blog-div h6:hover {
  color: #1b74e4;
}
.sec3-blog-img img {
  transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}
.sec3-blog-img {
  border-radius: 33px 33px 0px 0px;
  overflow: hidden;
}
.hover-effect-sec3:hover {
  transform: translateY(-10px);
  transition: all 0.4s ease;
  border: 2px solid #1b74e4 !important;
  box-shadow: 0 40px 80px -20px rgba(27, 117, 228, 0.323);
}
.sec3-blog-div:hover .sec3-blog-img img {
  transform: scale(1.08);
}
.sec3-blog-icon {
  font-size: 12px;
  font-weight: 700;
  color: gray;
}
.blog-div:hover .hardware-shadow {
  box-shadow: 0 0 20px rgba(27, 116, 228, 0.2);
}
.sec3-footer {
  position: absolute;
  top: 220px;
}
.sec3-footer {
}
.footer-button button {
  font-size: 11px;
  font-weight: 800;
  letter-spacing: 2px;
}
.footer-a {
  background-color: rgb(187, 167, 167);
}
.footer-a:hover {
  background-color: #1b74e4;
  color: white;
}

@media (min-width: 200px) and (max-width: 640px) {
  .blog-icon {
    margin-top: 0;
    flex-wrap: wrap;
  }
  .blog-text h6 {
    font-size: 14px;
  }

  .footer-content {
    position: static !important;
    background-color: #111827 !important;
    border-radius: 0 0 33px 33px !important;
  }

  .blog-img {
    border-radius: 33px 0px 0px 33px;
  }

  .sec3-footer {
    position: absolute;
    top: 128px;
    left: -10px;
  }
}

@media (min-width: 641px) and (max-width: 720px) {
  .blog-icon {
    margin-top: 24px;
  }
  .blog-text {
    margin-left: 40px;
  }
  .sec3-footer {
    position: absolute;
    top: 65% !important;
    left: -30px;
  }
}
