
.nav-block {
  background-color: rgba(15, 23, 42, 0.95);
  border-radius: 40px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}
.nav-block a.active {
  background-color: #1b74e4;
}
.nav-block a:hover {
  background-color: #1b74e4;
}
.nav-block a span {
  position: absolute;
  top: -50px;
  left: 7%;
  visibility: hidden;
  font-size: 10px;
  transition: all ease 0.3s;
}
.nav-block a:hover span {
  visibility: visible;
}
.nav-icon-div {
  border-radius: 20px;
}
.nav-icons {
  font-size: 20px;
}


/* SCSS code */
.nav-block {
  background-color: rgba(15, 23, 42, 0.95);
  border-radius: 40px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);

  nav-icon-div{
     border-radius: 20px;
  }

  .nav-icons {
    font-size: 20px;
  }


}