body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", "Space Grotesk", sans-serif;
}
p {
  margin: 0;
  padding: 0;
}
section {
  margin: 0;
  padding: 0;
}
.txt-white {
  color: rgba(255, 255, 255, 0.689);
}
.txt-grey {
  color: gray;
}
button {
  text-decoration: none;
}
ul,
li {
  text-decoration: none;
  border: none;
}
.nav-tabs {
  color: black;
  border: none !important;
}
.nav-item button:hover {
  background-color: #1b74e4;
  color: white !important;
  border-radius: 14px;
}
.nav-tabs .nav-link.active {
  border-color: white;
  background-color: #1b74e4;
  border-radius: 14px;
  color: white;
}
a {
  text-decoration: none !important;
  color: black;
}
.container-main {
  margin: 0px 150px 0px 150px !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
}
.card {
  border-radius: 14px;
}
.border-radius-div {
  border-radius: 14px;
}
.ls-1 {
  letter-spacing: 1px;
}
.nav-container {
  position: fixed;
  bottom: 32px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1040;
}